* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
    height: 100vh;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu div a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu div ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu div:nth-child(1) ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}

.mobile-menu .account-options li {
    margin-bottom: 4px;
}
